<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/array/IdeaProjects/DemoSelenium/src/test/java/EX_SeleniumBasics/EX03_miniProject.java"><classes><class name="EX_SeleniumBasics.EX03_miniProject"><methods><include name="makeAppointment"/></methods></class></classes></test></suite>